<template name="_tabs">
  {{#if isAndroid}}
    {{#ionTabs style="android" class="tabs-background-positive tabs-color-light"}}
      {{> ionTab title="Tab 1" path="tabs.one" icon="android-home"}}
      {{> ionTab title="Tab 2" path="tabs.two" icon="android-star"}}
      {{> ionTab title="Tab 3" path="tabs.three" icon="heart"}}
      {{> ionTab title="Tab 4" path="tabs.four" icon="gear-b"}}
    {{/ionTabs}}
  {{else}}
    {{#ionTabs style="ios"}}
      {{> ionTab title="Events" path="tabs.one" iconOff="ios-list-outline" iconOn="ios-list"}}
      {{> ionTab title="Photos" path="tabs.two" iconOff="ios-photos-outline" iconOn="ios-photos"}}
      {{> ionTab title="Post" path="tabs.three" iconOff="ios-search" iconOn="search"}}
      {{> ionTab title="Me" path="tabs.four" iconOff="ios-person-outline" iconOn="ios-person"}}
    {{/ionTabs}}
  {{/if}}
</template>
