<template name="tabsFour">
  {{> _tabsHeader}}

  {{#ionContent class="padding"}}
    


<div class="list card">

  <div class="item item-avatar">
    <img src="img/1.jpg">
    <h2>Marty McFly</h2>
    <p>November 05, 1955</p>
  </div>

  <div class="item item-body">

    <p>
      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
      the content is from a card-body consisting of an image and paragraph text. The footer
      consists of tabs, icons aligned left, within the card-footer.
    </p>
    <p>
      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
      the content is from a card-body consisting of an image and paragraph text. The footer
      consists of tabs, icons aligned left, within the card-footer.
    </p>

    <a href="#" class="item item-icon-left">
        <i class="icon ion-images"></i>
        My Photos
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-calendar"></i>
        My Events
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-log-out"></i>
        Log out
      </a>

   
   
     
  </div>

</div>



    
  {{/ionContent}}

  {{> _tabs}}
</template>
