<template name="tabsFour">
  {{> _tabsHeader}}
  {{#ionContent class="padding"}}
    <h1>My Profile</h1>
    {{#if currentUser}}
    <p>hello</p>
    {{> loginButtons}}
    
    {{else}}
    Please sign in first
    {{> atForm}}
    {{/if}}
    <div><img src="https://randomuser.me/api/portraits/thumb/men/27.jpg"></div>
    <div class="list card">

      <a href="#" class="item item-icon-left">
        <i class="icon ion-home"></i>
        Enter home address
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-ios-telephone"></i>
        Enter phone number
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-wifi"></i>
        Enter wireless password
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-card"></i>
        Enter card information
      </a>

    </div>
  {{/ionContent}}

  {{> _tabs}}
</template>
